<!-- START MENU -->
<div style="margin-top:100px; margin-bottom: 100px;">
    <div class="container">

      <!-- BACK BUTTON -->
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="history.back()"> Back </button>

      <div style="margin-top:100px; margin-bottom: 100px;"align="center">
        <div class="container bg-light bg-opacity-100 p-5">

          <!-- ADD RESERVATIONS -->
          <h1><br>Add Trip Details</h2>
          
          <!-- MENU OPTIONS -->
          <div class="d-grid gap-2">
            <br>
            <a onclick="window.location='/addHotels'+window.location.search;">
            <button class="btn btn-primary" type="button">Add Hotels +</button></a>
            <a onclick="window.location='/Addflights'+window.location.search;">
            <button class="btn btn-primary" type="button">Add Flights +</button></a>
            <a onclick="window.location='/addEvents'+window.location.search;">
            <button class="btn btn-primary" type="button">Add Events +</button></a>
          </div>    
        </div>
      
    </div>
</div>
