<!-- ADD MENU PAGE -->

<div style="margin-top:100px; margin-bottom: 100px;">
  <div class="container"> 
    <div style="margin-top:100px; margin-bottom: 100px;">
      <div class="container p-5">
        
        <!-- START MENU BUTTON -->
        <a onclick="window.location='/startMenu'+window.location.search;">
        <button class="btn btn-outline-secondary mb-5" type="submit" align=left> x </button>
        </a>
        
        <!-- DESTINATION NAME -->
        <h1>Plan your trip to <span id='destinationName'></span></h2>

        <!-- MENU OPTIONS -->
        <div class="card-deck mt-5">
          <div class="card" style="width: 18rem;">
            <img id="hotelImage" class="card-img-top" style="height: 13rem;">
            <div class="card-block">
              <div class="card-body">

                <!-- ADD HOTELS -->
                <h5 class="card-title">Where to stay?</h5>
                <p class="card-text" align="left">Add hotel and accomodation details to keep track of where you're staying.</p>
                <a onclick="window.location='/addHotels'+window.location.search;"> 
                <button class="btn btn-outline-primary btn-lg btn-block" type="button">Add Hotels +</button>
                </a>
              </div>
            </div>
          </div>

          <!-- ADD FLIGHTS -->
          <div class="card" style="width: 18rem;">
            <img id="flightImage" class="card-img-top" style="height: 13rem;">
              <div class="card-block">
                <div class="card-body">
                  <h5 class="card-title">How to get there?</h5>
                  <p class="card-text" align="left">Add flight information to keep track of how to get where you're going.</p>
                  <a onclick="window.location='/addFlights'+window.location.search;"> 
                  <button class="btn btn-outline-primary btn-lg btn-block" type="button">Add Flights +</button>
                  </a>
                </div>
              </div>
            </div>

          <!-- ADD EVENTS -->
          <div class="card" style="width: 18rem;">
            <img id="eventImage" class="card-img-top" style="height: 13rem;">
            <div class="card-block">
              <div class="card-body">
                <h5 class="card-title">What to do?</h5>
                <p class="card-text" align="left">Keep track of events, tours, or dinner reservations during your trip.</p>
                <a onclick="window.location='/addEvents'+window.location.search;"> 
                <button class="btn btn-outline-primary btn-lg btn-block" type="button">Add Events +</button>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- HELPER FUNCTIONS JS -->
<script src="./js/addMenu.js"></script>