<!-- HOME PAGE -->
<div class="container" style="margin-top: 100px;">
  <img src="./assets/img/logo.png"
  width="750" height="300">
  
  <!-- SEARCH BAR -->
  <div class="input-group">
    <form action="startMenu" method="GET">
      <table>
        <tr>
          <td>
          <input class="form-control form-control-lg" 
            type="text" list="destinationOptions" 
            id="exampleDestinations" 
            placeholder="Where are we going?" 
            name="destination" required></input>
          
          <!-- OPTIONS LIST -->
          <datalist id="destinationOptions">
            <option value="New York">
            <option value="Paris, France">
            <option value="Paris, Texas">
            <option value="London">
            <option value="Los Angeles">
            <option value="Mexico City">
          </datalist>
          </td>

          <!-- SUBMIT BUTTON -->
          <td>
          <button class="btn btn-outline-primary btn-lg" 
            type="submit">&#8680;</button>
          </td>
        </tr>
    </form>
    </table>
  </div>
</div>