<!-- START MENU PAGE -->

<div style="margin-top:100px; margin-bottom: 100px;">
  <div class="container"> 
    <div style="margin-top:100px; margin-bottom: 100px;">
      <div class="container p-5">
        
        <!-- BACK BUTTON -->
        <a href="/">
        <button class="btn btn-outline-secondary mb-5" 
          type="submit" 
          align=left>
           &#x21ba; New Destination</button>
        </a>
        
        <!-- DESTINATION NAME -->
        <h1>Let's go to <span id='destinationName'></span></h2>

        <!-- MENU OPTIONS -->
        <div class="card-deck mt-5">
          <div class="card" style="width: 18rem;">

            <!-- FIND ACTIVITIES CARD-->
            <img id="activityImage" class="card-img-top" style="height: 13rem;">
            <div class="card-block">
              <div class="card-body">
                <h5 class="card-title">What to do?</h5>
                <p class="card-text" 
                  align="left">Let your travel buddy suggest local attractions for your trip.</p>
                <a onclick="window.location='/findActivities'+window.location.search;"> 
                <button class="btn btn-outline-primary btn-lg btn-block" 
                  type="button">Find Activities</button>
                </a>
              </div>
            </div>
          </div>

          <!-- FIND RESTAURANTS CARD-->
          <div class="card" style="width: 18rem;">
            <img id="restaurantImage" class="card-img-top" style="height: 13rem;">
              <div class="card-block">
                <div class="card-body">
                  <h5 class="card-title">Where to eat?</h5>
                  <p class="card-text" align="left">Your buddy can suggest local restaurants for your trip.</p>
                  <a onclick="window.location='/findRestaurants'+window.location.search;"> 
                  <button class="btn btn-outline-primary btn-lg btn-block" 
                    type="button">Find Restaurants</button>
                  </a>
                </div>
              </div>
            </div>

          <!-- ADD RESERVATIONS CARD --> 
          <div class="card" style="width: 18rem;">
            <img id="reservationImage" class="card-img-top" style="height: 13rem;">
            <div class="card-block">
              <div class="card-body">
                <h5 class="card-title">What's the plan?</h5>
                <p class="card-text" 
                  align="left">Keep track of flight, hotel and event reservations.</p>
                <a onclick="window.location='/addMenu'+window.location.search;"> 
                <button class="btn btn-outline-primary btn-lg btn-block" 
                  type="button">Add Reservations +</button>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- HELPER FUNCTIONS JS -->
<script src="./js/startMenu.js"></script>